--
-- PostgreSQL database dump
--

\restrict waSO8KQogQ4Kt6lyOsOuEnvFQJXGAQowkn4oELSDEK5XF2DpdkkJH4hptFD8dcY

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: actualizar_calificacion_hotel(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.actualizar_calificacion_hotel() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_id_hotel bigint;
    v_nueva_calificacion numeric(2,1);
BEGIN 
    -- 1. Se obtiene el ID del hotel relacionado a la nueva rese├▒a
    -- LIMIT 1 por si la reservaci├│n tiene m├║ltiples habitaciones para el mismo hotel
    SELECT hab.id_hotel INTO v_id_hotel
    FROM estadia est
    INNER JOIN detalle_reservacion det ON est.id_reservacion = det.id_reservacion
    INNER JOIN habitacion hab ON det.id_habitacion = hab.id_habitacion
    WHERE est.id_estadia = NEW.id_estadia
    LIMIT 1;
    
    -- 2. Calcula el promedio de calificaci├│n para ese hotel
    -- ROUND a 1 decimal para que coincida con la calificacion de la tabla
    SELECT ROUND(AVG(r.calificacion), 1) INTO v_nueva_calificacion
    FROM resenia r
    INNER JOIN estadia est ON r.id_estadia = est.id_estadia
    INNER JOIN detalle_reservacion det ON est.id_reservacion = det.id_reservacion
    INNER JOIN habitacion hab ON det.id_habitacion = hab.id_habitacion
    WHERE hab.id_hotel = v_id_hotel;
    
    -- 3. Actualiza la tabla hotel con el nuevo promedio
    UPDATE hotel
    SET calificacion = v_nueva_calificacion
    WHERE id_hotel = v_id_hotel;

    -- Como es un trigger AFTER para INSERT/UPDATE, devolvemos NEW
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.actualizar_calificacion_hotel() OWNER TO postgres;

--
-- Name: validar_disponibilidad_habitacion(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.validar_disponibilidad_habitacion() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Buscamos si ya existe una reserva que choque con las fechas nuevas
    IF EXISTS (
        SELECT 1 
        FROM detalle_reservacion 
        WHERE id_habitacion = NEW.id_habitacion 
          -- Esta es la l├│gica matem├ítica para detectar si dos rangos de fecha se cruzan
          AND fecha_entrada < NEW.fecha_salida 
          AND fecha_salida > NEW.fecha_entrada
          -- Esto evita que marque error si estamos actualizando (UPDATE) la misma reserva
          AND id_detalle_reservacion IS DISTINCT FROM NEW.id_detalle_reservacion
    ) THEN
        -- Si encuentra un choque, aborta la operaci├│n y lanza este mensaje
        RAISE EXCEPTION 'La habitaci├│n % ya est├í reservada en esas fechas.', NEW.id_habitacion;
    END IF;

    -- Si no hay choques, deja pasar los datos (retorna NEW)
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.validar_disponibilidad_habitacion() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aumento_costos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.aumento_costos (
    id_aumento_costo bigint NOT NULL,
    porcentaje_aumento numeric(5,2) NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date NOT NULL,
    nombre_temporada character varying(100),
    activado boolean DEFAULT true,
    CONSTRAINT ck_fecha_inicio CHECK ((fecha_inicio < fecha_fin)),
    CONSTRAINT ck_porcentaje_aumento CHECK ((porcentaje_aumento >= (0)::numeric))
);


ALTER TABLE public.aumento_costos OWNER TO postgres;

--
-- Name: aumento_costos_id_aumento_costo_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.aumento_costos ALTER COLUMN id_aumento_costo ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.aumento_costos_id_aumento_costo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: comodidad_tipo_habitacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comodidad_tipo_habitacion (
    id_comodidad_habitacion bigint NOT NULL,
    id_tipo_habitacion bigint NOT NULL,
    id_tipo_comodidad bigint NOT NULL,
    detalle text NOT NULL
);


ALTER TABLE public.comodidad_tipo_habitacion OWNER TO postgres;

--
-- Name: comodidad_tipo_habitacion_id_comodidad_habitacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.comodidad_tipo_habitacion ALTER COLUMN id_comodidad_habitacion ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.comodidad_tipo_habitacion_id_comodidad_habitacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: consumo_servicio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consumo_servicio (
    id_consumo_servicio bigint NOT NULL,
    id_servicio bigint NOT NULL,
    id_habitacion bigint NOT NULL,
    id_estadia bigint NOT NULL,
    hora_consumo timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.consumo_servicio OWNER TO postgres;

--
-- Name: consumo_servicio_id_consumo_servicio_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.consumo_servicio ALTER COLUMN id_consumo_servicio ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.consumo_servicio_id_consumo_servicio_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: detalle_reservacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detalle_reservacion (
    id_detalle_reservacion bigint NOT NULL,
    id_reservacion bigint NOT NULL,
    id_habitacion bigint NOT NULL,
    cant_huespedes integer NOT NULL,
    fecha_entrada date NOT NULL,
    fecha_salida date NOT NULL,
    CONSTRAINT ck_cant_huespedes_detalle CHECK ((cant_huespedes > 0)),
    CONSTRAINT ck_fecha_entrada CHECK ((fecha_entrada < fecha_salida))
);


ALTER TABLE public.detalle_reservacion OWNER TO postgres;

--
-- Name: estadia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estadia (
    id_estadia bigint NOT NULL,
    id_reservacion bigint NOT NULL,
    checkin timestamp without time zone DEFAULT now() NOT NULL,
    checkout timestamp without time zone,
    CONSTRAINT ck_checkin CHECK (((checkout IS NULL) OR (checkin < checkout)))
);


ALTER TABLE public.estadia OWNER TO postgres;

--
-- Name: factura; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.factura (
    id_factura bigint NOT NULL,
    id_empleado bigint NOT NULL,
    id_huesped bigint NOT NULL,
    id_estadia bigint NOT NULL,
    fecha timestamp without time zone DEFAULT now() NOT NULL,
    metodo_pago character varying(50) NOT NULL,
    total_a_pagar numeric(10,2) NOT NULL,
    CONSTRAINT ck_metodo_pago CHECK (((metodo_pago)::text = ANY (ARRAY[('EFECTIVO'::character varying)::text, ('TRANSFERENCIA'::character varying)::text, ('TARJETA'::character varying)::text, ('BITCOIN'::character varying)::text, ('PAYPAL'::character varying)::text]))),
    CONSTRAINT ck_total_pagar CHECK ((total_a_pagar >= (0)::numeric))
);


ALTER TABLE public.factura OWNER TO postgres;

--
-- Name: habitacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.habitacion (
    id_habitacion bigint NOT NULL,
    id_hotel bigint NOT NULL,
    nivel integer NOT NULL,
    numero_habitacion integer NOT NULL,
    id_tipo_habitacion bigint NOT NULL,
    precio numeric(10,2) NOT NULL,
    estado character varying(50) NOT NULL,
    capacidad_maxima integer NOT NULL,
    descripcion text,
    CONSTRAINT ck_capacidad_maxima CHECK (((capacidad_maxima >= 1) AND (capacidad_maxima <= 15))),
    CONSTRAINT ck_estado CHECK (((estado)::text = ANY (ARRAY[('DISPONIBLE'::character varying)::text, ('OCUPADA'::character varying)::text, ('MANTENIMIENTO'::character varying)::text]))),
    CONSTRAINT ck_nivel CHECK ((nivel >= 0)),
    CONSTRAINT ck_num_habitacion CHECK ((numero_habitacion >= 0)),
    CONSTRAINT ck_precio CHECK ((precio >= (0)::numeric))
);


ALTER TABLE public.habitacion OWNER TO postgres;

--
-- Name: hotel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hotel (
    id_hotel bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    direccion character varying(255),
    niveles_edificios integer NOT NULL,
    calificacion numeric(2,1),
    descripcion text,
    CONSTRAINT ck_calificacion CHECK (((calificacion >= (1)::numeric) AND (calificacion <= (5)::numeric))),
    CONSTRAINT ck_niveles CHECK ((niveles_edificios > 0))
);


ALTER TABLE public.hotel OWNER TO postgres;

--
-- Name: datos_generales_hoteles; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.datos_generales_hoteles AS
 WITH ganancia_por_anio AS (
         SELECT hab.id_hotel,
            EXTRACT(year FROM f.fecha) AS anio,
            sum(f.total_a_pagar) AS total_del_anio
           FROM (((public.factura f
             JOIN public.estadia e ON ((f.id_estadia = e.id_estadia)))
             JOIN public.detalle_reservacion dr ON ((e.id_reservacion = dr.id_reservacion)))
             JOIN public.habitacion hab ON ((dr.id_habitacion = hab.id_habitacion)))
          GROUP BY hab.id_hotel, (EXTRACT(year FROM f.fecha))
        ), promedio_anual AS (
         SELECT ganancia_por_anio.id_hotel,
            round(avg(ganancia_por_anio.total_del_anio), 2) AS ganancia_promedio_anual
           FROM ganancia_por_anio
          GROUP BY ganancia_por_anio.id_hotel
        ), ganancia_por_mes AS (
         SELECT hab.id_hotel,
            EXTRACT(year FROM f.fecha) AS anio,
            EXTRACT(month FROM f.fecha) AS mes,
            sum(f.total_a_pagar) AS total_del_mes
           FROM (((public.factura f
             JOIN public.estadia e ON ((f.id_estadia = e.id_estadia)))
             JOIN public.detalle_reservacion dr ON ((e.id_reservacion = dr.id_reservacion)))
             JOIN public.habitacion hab ON ((dr.id_habitacion = hab.id_habitacion)))
          GROUP BY hab.id_hotel, (EXTRACT(year FROM f.fecha)), (EXTRACT(month FROM f.fecha))
        ), promedio_mensual AS (
         SELECT ganancia_por_mes.id_hotel,
            round(avg(ganancia_por_mes.total_del_mes), 2) AS ganancia_promedio_mensual
           FROM ganancia_por_mes
          GROUP BY ganancia_por_mes.id_hotel
        ), habitaciones_hotel AS (
         SELECT habitacion.id_hotel,
            count(*) AS habitaciones_totales,
            sum((((habitacion.estado)::text = 'DISPONIBLE'::text))::integer) AS habitaciones_disponibles,
            sum((((habitacion.estado)::text = 'OCUPADA'::text))::integer) AS habitaciones_ocupadas,
            sum((((habitacion.estado)::text = 'MANTENIMIENTO'::text))::integer) AS habitaciones_mantenimiento
           FROM public.habitacion
          GROUP BY habitacion.id_hotel
        )
 SELECT hot.id_hotel,
    hot.nombre AS nombre_hotel,
    hot.calificacion,
    hot.direccion,
    hot.niveles_edificios,
    hot.descripcion,
    h.habitaciones_totales,
    h.habitaciones_disponibles,
    h.habitaciones_ocupadas,
    h.habitaciones_mantenimiento,
    COALESCE(pa.ganancia_promedio_anual, 0.00) AS ganancia_promedio_anual,
    COALESCE(pm.ganancia_promedio_mensual, 0.00) AS ganancia_promedio_mensual
   FROM (((public.hotel hot
     LEFT JOIN promedio_anual pa ON ((hot.id_hotel = pa.id_hotel)))
     LEFT JOIN promedio_mensual pm ON ((hot.id_hotel = pm.id_hotel)))
     JOIN habitaciones_hotel h ON ((hot.id_hotel = h.id_hotel)))
  ORDER BY hot.calificacion DESC;


ALTER VIEW public.datos_generales_hoteles OWNER TO postgres;

--
-- Name: descuento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.descuento (
    id_descuento bigint NOT NULL,
    porcentaje_descuento numeric(5,2) NOT NULL,
    cant_dia_hospedado integer,
    CONSTRAINT ck_cant_dia CHECK ((cant_dia_hospedado > 0)),
    CONSTRAINT ck_porcentaje CHECK (((porcentaje_descuento >= (0)::numeric) AND (porcentaje_descuento <= (100)::numeric)))
);


ALTER TABLE public.descuento OWNER TO postgres;

--
-- Name: descuento_id_descuento_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.descuento ALTER COLUMN id_descuento ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.descuento_id_descuento_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: detalle_factura; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.detalle_factura (
    id_detalle_factura bigint NOT NULL,
    id_factura bigint NOT NULL,
    id_servicio bigint,
    id_habitacion bigint,
    id_descuento bigint,
    id_aumento_costo bigint,
    concepto character varying(255) NOT NULL,
    precio_unitario numeric(10,2) NOT NULL,
    cantidad integer NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    monto_descuento numeric(10,2) DEFAULT 0.00,
    monto_aumento numeric(10,2) DEFAULT 0.00,
    precio_total numeric(10,2) NOT NULL,
    CONSTRAINT ck_cantidad CHECK ((cantidad >= 1)),
    CONSTRAINT ck_monto_aumento CHECK ((monto_aumento >= (0)::numeric)),
    CONSTRAINT ck_monto_descuento CHECK ((monto_descuento >= (0)::numeric)),
    CONSTRAINT ck_origen_cobro CHECK ((((id_servicio IS NOT NULL) AND (id_habitacion IS NULL)) OR ((id_servicio IS NULL) AND (id_habitacion IS NOT NULL)))),
    CONSTRAINT ck_precio_total CHECK ((precio_total >= (0)::numeric)),
    CONSTRAINT ck_precio_unitario CHECK ((precio_unitario >= (0)::numeric)),
    CONSTRAINT ck_subtotal CHECK ((subtotal >= (0)::numeric))
);


ALTER TABLE public.detalle_factura OWNER TO postgres;

--
-- Name: detalle_factura_id_detalle_factura_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.detalle_factura ALTER COLUMN id_detalle_factura ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.detalle_factura_id_detalle_factura_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: detalle_reservacion_id_detalle_reservacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.detalle_reservacion ALTER COLUMN id_detalle_reservacion ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.detalle_reservacion_id_detalle_reservacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: empleado; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.empleado (
    id_empleado bigint NOT NULL,
    id_tipo_empleado bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    correo character varying(100) NOT NULL,
    telefono character varying(20),
    dui character varying(10) NOT NULL,
    salario numeric(10,2) NOT NULL,
    CONSTRAINT ck_correo CHECK (((correo)::text ~~ '%@%.%'::text)),
    CONSTRAINT ck_dui CHECK (((dui)::text ~ '^[0-9]{8}-[0-9]{1}$'::text)),
    CONSTRAINT ck_salario CHECK ((salario >= (0)::numeric)),
    CONSTRAINT ck_telefono CHECK (((telefono)::text ~ '^\+503[267][0-9]{7}$'::text))
);


ALTER TABLE public.empleado OWNER TO postgres;

--
-- Name: empleado_id_empleado_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.empleado ALTER COLUMN id_empleado ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.empleado_id_empleado_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: estadia_id_estadia_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.estadia ALTER COLUMN id_estadia ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.estadia_id_estadia_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: factura_id_factura_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.factura ALTER COLUMN id_factura ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.factura_id_factura_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: habitacion_id_habitacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.habitacion ALTER COLUMN id_habitacion ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.habitacion_id_habitacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hotel_id_hotel_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.hotel ALTER COLUMN id_hotel ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.hotel_id_hotel_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: huesped; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.huesped (
    id_huesped bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    correo character varying(255) NOT NULL,
    telefono character varying(20) NOT NULL,
    documento character varying(50) NOT NULL,
    tipo_documento character varying(50) NOT NULL,
    CONSTRAINT ck_correo CHECK (((correo)::text ~~ '%@%.%'::text)),
    CONSTRAINT ck_telefono_huesped CHECK (((telefono)::text ~ '^\+?[0-9\s\-]{7,20}$'::text)),
    CONSTRAINT ck_tipo_documento CHECK (((tipo_documento)::text = ANY (ARRAY[('DUI'::character varying)::text, ('PASAPORTE'::character varying)::text, ('CONSTANCIA DE RESIDENCIA'::character varying)::text])))
);


ALTER TABLE public.huesped OWNER TO postgres;

--
-- Name: huesped_id_huesped_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.huesped ALTER COLUMN id_huesped ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.huesped_id_huesped_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: resenia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resenia (
    id_resenia bigint NOT NULL,
    id_estadia bigint NOT NULL,
    id_huesped bigint NOT NULL,
    calificacion numeric(2,1),
    comentario text,
    CONSTRAINT ck_calificacion CHECK (((calificacion >= (1)::numeric) AND (calificacion <= (5)::numeric)))
);


ALTER TABLE public.resenia OWNER TO postgres;

--
-- Name: resenia_id_resenia_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.resenia ALTER COLUMN id_resenia ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.resenia_id_resenia_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reservacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservacion (
    id_reservacion bigint NOT NULL,
    id_empleado bigint NOT NULL,
    id_huesped bigint NOT NULL,
    cant_huespedes_totales integer NOT NULL,
    estado character varying(50) NOT NULL,
    CONSTRAINT ck_cant_huepedes CHECK ((cant_huespedes_totales > 0)),
    CONSTRAINT ck_estado CHECK (((estado)::text = ANY (ARRAY[('PENDIENTE'::character varying)::text, ('CONFIRMADA'::character varying)::text, ('CANCELADA'::character varying)::text, ('RECHAZADA'::character varying)::text, ('COMPLETADA'::character varying)::text])))
);


ALTER TABLE public.reservacion OWNER TO postgres;

--
-- Name: reservacion_id_reservacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reservacion ALTER COLUMN id_reservacion ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.reservacion_id_reservacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: servicio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.servicio (
    id_servicio bigint NOT NULL,
    tipo_servicio character varying(100) NOT NULL,
    precio numeric(10,2) NOT NULL,
    CONSTRAINT ck_precio CHECK ((precio >= (0)::numeric))
);


ALTER TABLE public.servicio OWNER TO postgres;

--
-- Name: servicio_id_servicio_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.servicio ALTER COLUMN id_servicio ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.servicio_id_servicio_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo_habitacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipo_habitacion (
    id_tipo_habitacion bigint NOT NULL,
    tipo_habitacion character varying(100) NOT NULL
);


ALTER TABLE public.tipo_habitacion OWNER TO postgres;

--
-- Name: servicios_mas_consumidos_tipo_habitacion; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.servicios_mas_consumidos_tipo_habitacion AS
 SELECT th.id_tipo_habitacion,
    th.tipo_habitacion,
    s.id_servicio,
    s.tipo_servicio,
    sum(df_serv.cantidad) AS total_consumos
   FROM ((((((public.detalle_factura df_serv
     JOIN public.servicio s ON ((df_serv.id_servicio = s.id_servicio)))
     JOIN public.factura f ON ((df_serv.id_factura = f.id_factura)))
     JOIN public.estadia e ON ((f.id_estadia = e.id_estadia)))
     JOIN public.detalle_reservacion dr ON ((e.id_reservacion = dr.id_reservacion)))
     JOIN public.habitacion h ON ((dr.id_habitacion = h.id_habitacion)))
     JOIN public.tipo_habitacion th ON ((h.id_tipo_habitacion = th.id_tipo_habitacion)))
  GROUP BY th.id_tipo_habitacion, th.tipo_habitacion, s.id_servicio, s.tipo_servicio
  ORDER BY th.tipo_habitacion, (sum(df_serv.cantidad)) DESC;


ALTER VIEW public.servicios_mas_consumidos_tipo_habitacion OWNER TO postgres;

--
-- Name: tipo_comodidad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipo_comodidad (
    id_tipo_comodidad bigint NOT NULL,
    tipo_comodidad character varying(100) NOT NULL
);


ALTER TABLE public.tipo_comodidad OWNER TO postgres;

--
-- Name: tipo_comodidad_id_tipo_comodidad_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tipo_comodidad ALTER COLUMN id_tipo_comodidad ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.tipo_comodidad_id_tipo_comodidad_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo_empleado; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipo_empleado (
    id_tipo_empleado bigint NOT NULL,
    tipo_empleado character varying(100) NOT NULL
);


ALTER TABLE public.tipo_empleado OWNER TO postgres;

--
-- Name: tipo_empleado_id_tipo_empleado_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tipo_empleado ALTER COLUMN id_tipo_empleado ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.tipo_empleado_id_tipo_empleado_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tipo_habitacion_id_tipo_habitacion_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tipo_habitacion ALTER COLUMN id_tipo_habitacion ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.tipo_habitacion_id_tipo_habitacion_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vista_calificacion_y_ganancias_prom; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vista_calificacion_y_ganancias_prom AS
 WITH ganancia_por_anio AS (
         SELECT hab.id_hotel,
            EXTRACT(year FROM f.fecha) AS anio,
            sum(f.total_a_pagar) AS total_del_anio
           FROM (((public.factura f
             JOIN public.estadia e ON ((f.id_estadia = e.id_estadia)))
             JOIN public.detalle_reservacion dr ON ((e.id_reservacion = dr.id_reservacion)))
             JOIN public.habitacion hab ON ((dr.id_habitacion = hab.id_habitacion)))
          GROUP BY hab.id_hotel, (EXTRACT(year FROM f.fecha))
        ), promedio_anual AS (
         SELECT ganancia_por_anio.id_hotel,
            round(avg(ganancia_por_anio.total_del_anio), 2) AS ganancia_promedio_anual
           FROM ganancia_por_anio
          GROUP BY ganancia_por_anio.id_hotel
        ), ganancia_por_mes AS (
         SELECT hab.id_hotel,
            EXTRACT(year FROM f.fecha) AS anio,
            EXTRACT(month FROM f.fecha) AS mes,
            sum(f.total_a_pagar) AS total_del_mes
           FROM (((public.factura f
             JOIN public.estadia e ON ((f.id_estadia = e.id_estadia)))
             JOIN public.detalle_reservacion dr ON ((e.id_reservacion = dr.id_reservacion)))
             JOIN public.habitacion hab ON ((dr.id_habitacion = hab.id_habitacion)))
          GROUP BY hab.id_hotel, (EXTRACT(year FROM f.fecha)), (EXTRACT(month FROM f.fecha))
        ), promedio_mensual AS (
         SELECT ganancia_por_mes.id_hotel,
            round(avg(ganancia_por_mes.total_del_mes), 2) AS ganancia_promedio_mensual
           FROM ganancia_por_mes
          GROUP BY ganancia_por_mes.id_hotel
        ), promedio_calificacion AS (
         SELECT hab.id_hotel,
            round(avg(r.calificacion), 2) AS calificacion_promedio_hotel
           FROM (((public.resenia r
             JOIN public.estadia est ON ((r.id_estadia = est.id_estadia)))
             JOIN public.detalle_reservacion det ON ((est.id_reservacion = det.id_reservacion)))
             JOIN public.habitacion hab ON ((det.id_habitacion = hab.id_habitacion)))
          GROUP BY hab.id_hotel
        )
 SELECT hot.id_hotel,
    hot.nombre AS nombre_hotel,
    COALESCE(pc.calificacion_promedio_hotel, 0.00) AS calificacion_promedio_hotel,
    COALESCE(pa.ganancia_promedio_anual, 0.00) AS ganancia_promedio_anual,
    COALESCE(pm.ganancia_promedio_mensual, 0.00) AS ganancia_promedio_mensual
   FROM (((public.hotel hot
     LEFT JOIN promedio_anual pa ON ((hot.id_hotel = pa.id_hotel)))
     LEFT JOIN promedio_mensual pm ON ((hot.id_hotel = pm.id_hotel)))
     LEFT JOIN promedio_calificacion pc ON ((hot.id_hotel = pc.id_hotel)));


ALTER VIEW public.vista_calificacion_y_ganancias_prom OWNER TO postgres;

--
-- Name: vista_factura_completa; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vista_factura_completa AS
 SELECT f.id_factura,
    f.fecha,
    f.metodo_pago,
    f.total_a_pagar,
    f.id_estadia,
    e.nombre AS nombre_empleado,
    h.nombre AS nombre_huesped,
    h.correo AS correo_huesped,
    COALESCE(( SELECT jsonb_agg(jsonb_build_object('id_detalle_factura', df.id_detalle_factura, 'concepto', df.concepto, 'precio_unitario', df.precio_unitario, 'cantidad', df.cantidad, 'subtotal', df.subtotal, 'monto_descuento', df.monto_descuento, 'monto_aumento', df.monto_aumento, 'precio_total', df.precio_total, 'servicio',
                CASE
                    WHEN (df.id_servicio IS NOT NULL) THEN jsonb_build_object('id_servicio', s.id_servicio, 'tipo_servicio', s.tipo_servicio)
                    ELSE NULL::jsonb
                END, 'habitacion',
                CASE
                    WHEN (df.id_habitacion IS NOT NULL) THEN jsonb_build_object('id_habitacion', hab.id_habitacion, 'numero', hab.numero_habitacion, 'nivel', hab.nivel)
                    ELSE NULL::jsonb
                END, 'descuento',
                CASE
                    WHEN (df.id_descuento IS NOT NULL) THEN jsonb_build_object('id_descuento', d.id_descuento, 'porcentaje', d.porcentaje_descuento)
                    ELSE NULL::jsonb
                END, 'aumento_costo',
                CASE
                    WHEN (df.id_aumento_costo IS NOT NULL) THEN jsonb_build_object('id_aumento_costo', ac.id_aumento_costo, 'temporada', ac.nombre_temporada, 'porcentaje', ac.porcentaje_aumento)
                    ELSE NULL::jsonb
                END)) AS jsonb_agg
           FROM ((((public.detalle_factura df
             LEFT JOIN public.servicio s ON ((df.id_servicio = s.id_servicio)))
             LEFT JOIN public.habitacion hab ON ((df.id_habitacion = hab.id_habitacion)))
             LEFT JOIN public.descuento d ON ((df.id_descuento = d.id_descuento)))
             LEFT JOIN public.aumento_costos ac ON ((df.id_aumento_costo = ac.id_aumento_costo)))
          WHERE (df.id_factura = f.id_factura)), '[]'::jsonb) AS detalle_factura
   FROM ((((public.factura f
     JOIN public.estadia es ON ((es.id_estadia = f.id_estadia)))
     JOIN public.reservacion r ON ((r.id_reservacion = es.id_reservacion)))
     JOIN public.empleado e ON ((e.id_empleado = r.id_empleado)))
     JOIN public.huesped h ON ((h.id_huesped = r.id_huesped)));


ALTER VIEW public.vista_factura_completa OWNER TO postgres;

--
-- Name: vista_gasto_historica; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vista_gasto_historica AS
 SELECT h.id_huesped,
    h.nombre AS huesped,
    h.correo,
    h.documento,
    h.tipo_documento,
    sum(f.total_a_pagar) AS gasto_total,
    count(f.id_factura) AS cantidad_facturas
   FROM (public.huesped h
     JOIN public.factura f ON ((h.id_huesped = f.id_huesped)))
  GROUP BY h.id_huesped, h.nombre, h.correo, h.documento, h.tipo_documento
  ORDER BY (sum(f.total_a_pagar)) DESC;


ALTER VIEW public.vista_gasto_historica OWNER TO postgres;

--
-- Name: vista_habitaciones_disponibles; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vista_habitaciones_disponibles AS
 SELECT h.id_habitacion,
    ho.nombre AS hotel,
    ho.direccion,
    h.nivel,
    h.numero_habitacion,
    th.tipo_habitacion,
    h.precio,
    h.estado,
    h.capacidad_maxima
   FROM ((public.habitacion h
     JOIN public.hotel ho ON ((h.id_hotel = ho.id_hotel)))
     JOIN public.tipo_habitacion th ON ((h.id_tipo_habitacion = th.id_tipo_habitacion)))
  WHERE ((h.estado)::text = 'DISPONIBLE'::text);


ALTER VIEW public.vista_habitaciones_disponibles OWNER TO postgres;

--
-- Name: vista_resenias_y_ganancias; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vista_resenias_y_ganancias AS
 WITH ganancia_por_anio AS (
         SELECT hab.id_hotel,
            EXTRACT(year FROM f.fecha) AS anio,
            sum(f.total_a_pagar) AS total_del_anio
           FROM (((public.factura f
             JOIN public.estadia e ON ((f.id_estadia = e.id_estadia)))
             JOIN public.detalle_reservacion dr ON ((e.id_reservacion = dr.id_reservacion)))
             JOIN public.habitacion hab ON ((dr.id_habitacion = hab.id_habitacion)))
          GROUP BY hab.id_hotel, (EXTRACT(year FROM f.fecha))
        ), promedio_anual AS (
         SELECT ganancia_por_anio.id_hotel,
            round(avg(ganancia_por_anio.total_del_anio), 2) AS ganancia_promedio_anual
           FROM ganancia_por_anio
          GROUP BY ganancia_por_anio.id_hotel
        ), ganancia_por_mes AS (
         SELECT hab.id_hotel,
            EXTRACT(year FROM f.fecha) AS anio,
            EXTRACT(month FROM f.fecha) AS mes,
            sum(f.total_a_pagar) AS total_del_mes
           FROM (((public.factura f
             JOIN public.estadia e ON ((f.id_estadia = e.id_estadia)))
             JOIN public.detalle_reservacion dr ON ((e.id_reservacion = dr.id_reservacion)))
             JOIN public.habitacion hab ON ((dr.id_habitacion = hab.id_habitacion)))
          GROUP BY hab.id_hotel, (EXTRACT(year FROM f.fecha)), (EXTRACT(month FROM f.fecha))
        ), promedio_mensual AS (
         SELECT ganancia_por_mes.id_hotel,
            round(avg(ganancia_por_mes.total_del_mes), 2) AS ganancia_promedio_mensual
           FROM ganancia_por_mes
          GROUP BY ganancia_por_mes.id_hotel
        ), promedio_calificacion AS (
         SELECT hab.id_hotel,
            round(avg(r.calificacion), 2) AS calificacion_promedio_hotel
           FROM (((public.resenia r
             JOIN public.estadia est ON ((r.id_estadia = est.id_estadia)))
             JOIN public.detalle_reservacion det ON ((est.id_reservacion = det.id_reservacion)))
             JOIN public.habitacion hab ON ((det.id_habitacion = hab.id_habitacion)))
          GROUP BY hab.id_hotel
        )
 SELECT hot.id_hotel,
    hot.nombre AS nombre_hotel,
    COALESCE(pc.calificacion_promedio_hotel, 0.00) AS calificacion_promedio_hotel,
    COALESCE(pa.ganancia_promedio_anual, 0.00) AS ganancia_promedio_anual,
    COALESCE(pm.ganancia_promedio_mensual, 0.00) AS ganancia_promedio_mensual
   FROM (((public.hotel hot
     LEFT JOIN promedio_anual pa ON ((hot.id_hotel = pa.id_hotel)))
     LEFT JOIN promedio_mensual pm ON ((hot.id_hotel = pm.id_hotel)))
     LEFT JOIN promedio_calificacion pc ON ((hot.id_hotel = pc.id_hotel)));


ALTER VIEW public.vista_resenias_y_ganancias OWNER TO postgres;

--
-- Name: vista_tasa_ocupacion_mensual; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vista_tasa_ocupacion_mensual AS
 WITH dias_ocupados AS (
         SELECT dr.id_habitacion,
            h.id_tipo_habitacion,
            th.tipo_habitacion,
            (generate_series(((e.checkin)::date)::timestamp with time zone, (((COALESCE(e.checkout, (dr.fecha_salida)::timestamp without time zone) - '1 day'::interval))::date)::timestamp with time zone, '1 day'::interval))::date AS fecha_ocupada
           FROM ((((public.detalle_reservacion dr
             JOIN public.reservacion r ON ((dr.id_reservacion = r.id_reservacion)))
             JOIN public.estadia e ON ((r.id_reservacion = e.id_reservacion)))
             JOIN public.habitacion h ON ((dr.id_habitacion = h.id_habitacion)))
             JOIN public.tipo_habitacion th ON ((h.id_tipo_habitacion = th.id_tipo_habitacion)))
          WHERE ((r.estado)::text = 'CONFIRMADA'::text)
        ), ocupacion_agrupada AS (
         SELECT dias_ocupados.id_tipo_habitacion,
            dias_ocupados.tipo_habitacion,
            to_char((dias_ocupados.fecha_ocupada)::timestamp with time zone, 'YYYY-MM'::text) AS mes_anio,
            (date_trunc('month'::text, (dias_ocupados.fecha_ocupada)::timestamp with time zone))::date AS fecha_base_mes,
            count(dias_ocupados.id_habitacion) AS total_dias_ocupados
           FROM dias_ocupados
          GROUP BY dias_ocupados.id_tipo_habitacion, dias_ocupados.tipo_habitacion, (to_char((dias_ocupados.fecha_ocupada)::timestamp with time zone, 'YYYY-MM'::text)), (date_trunc('month'::text, (dias_ocupados.fecha_ocupada)::timestamp with time zone))
        ), capacidad_habitaciones AS (
         SELECT habitacion.id_tipo_habitacion,
            count(habitacion.id_habitacion) AS cantidad_habitaciones
           FROM public.habitacion
          GROUP BY habitacion.id_tipo_habitacion
        )
 SELECT oa.mes_anio AS mes,
    oa.tipo_habitacion,
    oa.total_dias_ocupados,
    (((ch.cantidad_habitaciones)::numeric * EXTRACT(day FROM ((oa.fecha_base_mes + '1 mon'::interval) - '1 day'::interval))))::integer AS total_dias_disponibles,
    to_char((((oa.total_dias_ocupados)::numeric / ((ch.cantidad_habitaciones)::numeric * EXTRACT(day FROM ((oa.fecha_base_mes + '1 mon'::interval) - '1 day'::interval)))) * (100)::numeric), 'FM990.00"%"'::text) AS porcentaje_ocupacion
   FROM (ocupacion_agrupada oa
     JOIN capacidad_habitaciones ch ON ((oa.id_tipo_habitacion = ch.id_tipo_habitacion)))
  ORDER BY oa.mes_anio DESC, (to_char((((oa.total_dias_ocupados)::numeric / ((ch.cantidad_habitaciones)::numeric * EXTRACT(day FROM ((oa.fecha_base_mes + '1 mon'::interval) - '1 day'::interval)))) * (100)::numeric), 'FM990.00"%"'::text)) DESC;


ALTER VIEW public.vista_tasa_ocupacion_mensual OWNER TO postgres;

--
-- Name: vistas_huespuedes; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vistas_huespuedes AS
 SELECT h.id_huesped,
    h.nombre AS huesped,
    h.correo,
    h.documento,
    h.tipo_documento,
    hot.nombre AS nombre_hotel,
    count(DISTINCT f.id_factura) AS veces_hospedado
   FROM (((((public.huesped h
     JOIN public.factura f ON ((h.id_huesped = f.id_huesped)))
     JOIN public.estadia e ON ((f.id_estadia = e.id_estadia)))
     JOIN public.detalle_reservacion dr ON ((e.id_reservacion = dr.id_reservacion)))
     JOIN public.habitacion hab ON ((dr.id_habitacion = hab.id_habitacion)))
     JOIN public.hotel hot ON ((hab.id_hotel = hot.id_hotel)))
  GROUP BY h.id_huesped, h.nombre, h.correo, h.documento, h.tipo_documento, hot.nombre
  ORDER BY hot.nombre DESC, (count(DISTINCT f.id_factura)) DESC;


ALTER VIEW public.vistas_huespuedes OWNER TO postgres;

--
-- Data for Name: aumento_costos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: comodidad_tipo_habitacion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: consumo_servicio; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: descuento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.descuento (id_descuento, porcentaje_descuento, cant_dia_hospedado) FROM stdin;
1	5.00	3
2	10.00	5
3	15.00	7
4	20.00	10
5	2.50	2
6	8.00	4
7	12.50	6
8	18.00	8
9	25.00	14
10	30.00	30
\.


--
-- Data for Name: detalle_factura; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: detalle_reservacion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: empleado; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: estadia; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: factura; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: habitacion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: hotel; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.hotel (id_hotel, nombre, direccion, niveles_edificios, calificacion, descripcion) FROM stdin;
1	Hotel Costa Azul	Playa El Tunco, La Libertad	4	3.2	Resort frente a la playa con piscina infinita
2	Mirador San Salvador	Colonia Escal??n, San Salvador	10	3.1	Hotel de lujo con vista panor??mica a la ciudad
3	Posada del Volc??n	Parque Nacional El Boquer??n	2	3.2	Caba??as r??sticas inmersas en la naturaleza
\.


--
-- Data for Name: huesped; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: resenia; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reservacion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: servicio; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.servicio (id_servicio, tipo_servicio, precio) FROM stdin;
1	Desayuno Buffet	15.00
2	Masaje Relajante 60 min	45.00
3	Transporte Aeropuerto	35.00
4	Servicio a la Habitaci??n	10.00
5	Tour Guiado Volcanes	60.00
7	Alquiler de Bicicleta	12.00
8	Clase de Surf Privada	25.00
9	Cena Rom??ntica en Playa	80.00
6	Lavander??a (por libra)	41.00
10	Estacionamiento Valet	32.00
\.


--
-- Data for Name: tipo_comodidad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tipo_comodidad (id_tipo_comodidad, tipo_comodidad) FROM stdin;
1	Aire Acondicionado
2	Wi-Fi de Alta Velocidad
3	Smart TV 55 Pulgadas
4	Mini Bar Premium
5	Jacuzzi Privado
6	Balc??n con Vista al Mar
7	Caja Fuerte Digital
8	Cafetera de C??psulas
9	Escritorio de Trabajo Ergon??mico
10	Tina de Ba??o de Inmersi??n
\.


--
-- Data for Name: tipo_empleado; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tipo_empleado (id_tipo_empleado, tipo_empleado) FROM stdin;
1	Recepcionista
2	Gerente General
3	Personal de Limpieza
4	T??cnico de Mantenimiento
5	Botones / Maletero
6	Chef Ejecutivo
7	Mesero / Camarero
8	Concierge
9	Guardia de Seguridad
10	Valet Parking
\.


--
-- Data for Name: tipo_habitacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tipo_habitacion (id_tipo_habitacion, tipo_habitacion) FROM stdin;
1	Individual Est??ndar
2	Doble Est??ndar
3	Doble Superior
4	Suite Junior
5	Suite Ejecutiva
6	Suite Presidencial
7	Habitaci??n Familiar
8	Estudio con Cocina Equipada
9	Habitaci??n Accesible (Ley ADA)
10	Penthouse
\.


--
-- Name: aumento_costos_id_aumento_costo_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.aumento_costos_id_aumento_costo_seq', 10, true);


--
-- Name: comodidad_tipo_habitacion_id_comodidad_habitacion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.comodidad_tipo_habitacion_id_comodidad_habitacion_seq', 976, true);


--
-- Name: consumo_servicio_id_consumo_servicio_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.consumo_servicio_id_consumo_servicio_seq', 5524, true);


--
-- Name: descuento_id_descuento_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.descuento_id_descuento_seq', 10, true);


--
-- Name: detalle_factura_id_detalle_factura_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.detalle_factura_id_detalle_factura_seq', 1417, true);


--
-- Name: detalle_reservacion_id_detalle_reservacion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.detalle_reservacion_id_detalle_reservacion_seq', 1395, true);


--
-- Name: empleado_id_empleado_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.empleado_id_empleado_seq', 550, true);


--
-- Name: estadia_id_estadia_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estadia_id_estadia_seq', 1010, true);


--
-- Name: factura_id_factura_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.factura_id_factura_seq', 190, true);


--
-- Name: habitacion_id_habitacion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.habitacion_id_habitacion_seq', 976, true);


--
-- Name: hotel_id_hotel_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hotel_id_hotel_seq', 10, true);


--
-- Name: huesped_id_huesped_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.huesped_id_huesped_seq', 1000, true);


--
-- Name: resenia_id_resenia_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resenia_id_resenia_seq', 1000, true);


--
-- Name: reservacion_id_reservacion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reservacion_id_reservacion_seq', 1010, true);


--
-- Name: servicio_id_servicio_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.servicio_id_servicio_seq', 10, true);


--
-- Name: tipo_comodidad_id_tipo_comodidad_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipo_comodidad_id_tipo_comodidad_seq', 10, true);


--
-- Name: tipo_empleado_id_tipo_empleado_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipo_empleado_id_tipo_empleado_seq', 10, true);


--
-- Name: tipo_habitacion_id_tipo_habitacion_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipo_habitacion_id_tipo_habitacion_seq', 10, true);


--
-- Name: aumento_costos pk_aumento_costo; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aumento_costos
    ADD CONSTRAINT pk_aumento_costo PRIMARY KEY (id_aumento_costo);


--
-- Name: comodidad_tipo_habitacion pk_comodidad_tipo_habitacion; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comodidad_tipo_habitacion
    ADD CONSTRAINT pk_comodidad_tipo_habitacion PRIMARY KEY (id_comodidad_habitacion);


--
-- Name: consumo_servicio pk_consumo_servicio; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consumo_servicio
    ADD CONSTRAINT pk_consumo_servicio PRIMARY KEY (id_consumo_servicio);


--
-- Name: descuento pk_descuento; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.descuento
    ADD CONSTRAINT pk_descuento PRIMARY KEY (id_descuento);


--
-- Name: detalle_factura pk_detalle_factura; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalle_factura
    ADD CONSTRAINT pk_detalle_factura PRIMARY KEY (id_detalle_factura);


--
-- Name: detalle_reservacion pk_detalle_reservacion; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalle_reservacion
    ADD CONSTRAINT pk_detalle_reservacion PRIMARY KEY (id_detalle_reservacion);


--
-- Name: empleado pk_empleado; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empleado
    ADD CONSTRAINT pk_empleado PRIMARY KEY (id_empleado);


--
-- Name: estadia pk_estadia; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estadia
    ADD CONSTRAINT pk_estadia PRIMARY KEY (id_estadia);


--
-- Name: factura pk_factura; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factura
    ADD CONSTRAINT pk_factura PRIMARY KEY (id_factura);


--
-- Name: habitacion pk_habitacion; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habitacion
    ADD CONSTRAINT pk_habitacion PRIMARY KEY (id_habitacion);


--
-- Name: hotel pk_hotel; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hotel
    ADD CONSTRAINT pk_hotel PRIMARY KEY (id_hotel);


--
-- Name: huesped pk_huesped; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.huesped
    ADD CONSTRAINT pk_huesped PRIMARY KEY (id_huesped);


--
-- Name: resenia pk_resenia; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resenia
    ADD CONSTRAINT pk_resenia PRIMARY KEY (id_resenia);


--
-- Name: reservacion pk_reservacion; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservacion
    ADD CONSTRAINT pk_reservacion PRIMARY KEY (id_reservacion);


--
-- Name: servicio pk_servicio; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicio
    ADD CONSTRAINT pk_servicio PRIMARY KEY (id_servicio);


--
-- Name: tipo_comodidad pk_tipo_comodidad; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_comodidad
    ADD CONSTRAINT pk_tipo_comodidad PRIMARY KEY (id_tipo_comodidad);


--
-- Name: tipo_empleado pk_tipo_empleado; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_empleado
    ADD CONSTRAINT pk_tipo_empleado PRIMARY KEY (id_tipo_empleado);


--
-- Name: tipo_habitacion pk_tipo_habitacion; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_habitacion
    ADD CONSTRAINT pk_tipo_habitacion PRIMARY KEY (id_tipo_habitacion);


--
-- Name: huesped uq_correo; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.huesped
    ADD CONSTRAINT uq_correo UNIQUE (correo);


--
-- Name: empleado uq_correo_empleado; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empleado
    ADD CONSTRAINT uq_correo_empleado UNIQUE (correo);


--
-- Name: huesped uq_documento; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.huesped
    ADD CONSTRAINT uq_documento UNIQUE (documento);


--
-- Name: empleado uq_dui; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empleado
    ADD CONSTRAINT uq_dui UNIQUE (dui);


--
-- Name: factura uq_empleado_huesped_estadia; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factura
    ADD CONSTRAINT uq_empleado_huesped_estadia UNIQUE (id_empleado, id_huesped, id_estadia);


--
-- Name: habitacion uq_hotel_nivel_numhab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habitacion
    ADD CONSTRAINT uq_hotel_nivel_numhab UNIQUE (id_hotel, nivel, numero_habitacion);


--
-- Name: hotel uq_nombre; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.hotel
    ADD CONSTRAINT uq_nombre UNIQUE (nombre);


--
-- Name: aumento_costos uq_nombre_temp; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aumento_costos
    ADD CONSTRAINT uq_nombre_temp UNIQUE (nombre_temporada);


--
-- Name: resenia uq_resenia_huesped; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resenia
    ADD CONSTRAINT uq_resenia_huesped UNIQUE (id_estadia, id_huesped);


--
-- Name: tipo_comodidad uq_tipo_comodidad; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_comodidad
    ADD CONSTRAINT uq_tipo_comodidad UNIQUE (tipo_comodidad);


--
-- Name: tipo_empleado uq_tipo_empleado; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_empleado
    ADD CONSTRAINT uq_tipo_empleado UNIQUE (tipo_empleado);


--
-- Name: tipo_habitacion uq_tipo_habitacion; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_habitacion
    ADD CONSTRAINT uq_tipo_habitacion UNIQUE (tipo_habitacion);


--
-- Name: servicio uq_tipo_servicio; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servicio
    ADD CONSTRAINT uq_tipo_servicio UNIQUE (tipo_servicio);


--
-- Name: resenia trg_actualizar_calificacion; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_actualizar_calificacion AFTER INSERT OR UPDATE ON public.resenia FOR EACH ROW EXECUTE FUNCTION public.actualizar_calificacion_hotel();


--
-- Name: detalle_factura fk_aumento_detalle; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalle_factura
    ADD CONSTRAINT fk_aumento_detalle FOREIGN KEY (id_aumento_costo) REFERENCES public.aumento_costos(id_aumento_costo) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_factura fk_descuento_detalle; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalle_factura
    ADD CONSTRAINT fk_descuento_detalle FOREIGN KEY (id_descuento) REFERENCES public.descuento(id_descuento) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: reservacion fk_empleado; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservacion
    ADD CONSTRAINT fk_empleado FOREIGN KEY (id_empleado) REFERENCES public.empleado(id_empleado) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: factura fk_empleado_factura; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factura
    ADD CONSTRAINT fk_empleado_factura FOREIGN KEY (id_empleado) REFERENCES public.empleado(id_empleado) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: resenia fk_estadia; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resenia
    ADD CONSTRAINT fk_estadia FOREIGN KEY (id_estadia) REFERENCES public.estadia(id_estadia) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: consumo_servicio fk_estadia_consumo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consumo_servicio
    ADD CONSTRAINT fk_estadia_consumo FOREIGN KEY (id_estadia) REFERENCES public.estadia(id_estadia) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: factura fk_estadia_factura; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factura
    ADD CONSTRAINT fk_estadia_factura FOREIGN KEY (id_estadia) REFERENCES public.estadia(id_estadia) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_factura fk_factura_detalle; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalle_factura
    ADD CONSTRAINT fk_factura_detalle FOREIGN KEY (id_factura) REFERENCES public.factura(id_factura) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: consumo_servicio fk_habitacion; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consumo_servicio
    ADD CONSTRAINT fk_habitacion FOREIGN KEY (id_habitacion) REFERENCES public.habitacion(id_habitacion) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_reservacion fk_habitacion; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalle_reservacion
    ADD CONSTRAINT fk_habitacion FOREIGN KEY (id_habitacion) REFERENCES public.habitacion(id_habitacion) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_factura fk_habitacion_detalle; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalle_factura
    ADD CONSTRAINT fk_habitacion_detalle FOREIGN KEY (id_habitacion) REFERENCES public.habitacion(id_habitacion) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: habitacion fk_hotel; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habitacion
    ADD CONSTRAINT fk_hotel FOREIGN KEY (id_hotel) REFERENCES public.hotel(id_hotel) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: resenia fk_huesped; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resenia
    ADD CONSTRAINT fk_huesped FOREIGN KEY (id_huesped) REFERENCES public.huesped(id_huesped) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: reservacion fk_huesped; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservacion
    ADD CONSTRAINT fk_huesped FOREIGN KEY (id_huesped) REFERENCES public.huesped(id_huesped) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: factura fk_huesped_factura; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factura
    ADD CONSTRAINT fk_huesped_factura FOREIGN KEY (id_huesped) REFERENCES public.huesped(id_huesped) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_reservacion fk_reservacion; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalle_reservacion
    ADD CONSTRAINT fk_reservacion FOREIGN KEY (id_reservacion) REFERENCES public.reservacion(id_reservacion) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: estadia fk_reservacion; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estadia
    ADD CONSTRAINT fk_reservacion FOREIGN KEY (id_reservacion) REFERENCES public.reservacion(id_reservacion) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: consumo_servicio fk_servicio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consumo_servicio
    ADD CONSTRAINT fk_servicio FOREIGN KEY (id_servicio) REFERENCES public.servicio(id_servicio) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_factura fk_servicio_detalle; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.detalle_factura
    ADD CONSTRAINT fk_servicio_detalle FOREIGN KEY (id_servicio) REFERENCES public.servicio(id_servicio) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: comodidad_tipo_habitacion fk_tipo_comodidad; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comodidad_tipo_habitacion
    ADD CONSTRAINT fk_tipo_comodidad FOREIGN KEY (id_tipo_comodidad) REFERENCES public.tipo_comodidad(id_tipo_comodidad);


--
-- Name: empleado fk_tipo_empleado; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.empleado
    ADD CONSTRAINT fk_tipo_empleado FOREIGN KEY (id_tipo_empleado) REFERENCES public.tipo_empleado(id_tipo_empleado) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: comodidad_tipo_habitacion fk_tipo_habitacion; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comodidad_tipo_habitacion
    ADD CONSTRAINT fk_tipo_habitacion FOREIGN KEY (id_tipo_habitacion) REFERENCES public.tipo_habitacion(id_tipo_habitacion);


--
-- Name: habitacion fk_tipo_habitacion; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.habitacion
    ADD CONSTRAINT fk_tipo_habitacion FOREIGN KEY (id_tipo_habitacion) REFERENCES public.tipo_habitacion(id_tipo_habitacion) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict waSO8KQogQ4Kt6lyOsOuEnvFQJXGAQowkn4oELSDEK5XF2DpdkkJH4hptFD8dcY

